In [1]:
#Q1. Create one variable containing following type of data

#string
str_1 = "test string"

#list
list_1 = [1,2,3,4,True,45.89, "pwskills"]

#float
random_float = 3.14

#tuple
mytuple = ("apple", "banana", "cherry")

In [3]:
#Q2. Given are some following variables containing data
var1 = ' '
print('var1 is of type ', type(var1))

var2 = '[DS, ML, Python]'
print('var2 is of type ', type(var2))

var3 = ['DS', 'ML', 'Python']
print('var3 is of type ', type(var3))

var4 = 1
print('var4 is of type ', type(var4))

var1 is of type  <class 'str'>
var2 is of type  <class 'str'>
var3 is of type  <class 'list'>
var4 is of type  <class 'int'>

In [4]:
# Explain the use of the following operators using an example:
# (i)	/
# (ii)	% 
# (iii)	//
# (iv)	**

print(20 / 4)
print(38 % 3)
print(39 // 4)
print(3 ** 3)

5.0
2
9
27

In [5]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type

mylist = [1, 2, 3, 4, 5, 3.14, True, 3+7j, 'pwskills', False]

for i in mylist:
    print(i)

1
2
3
4
5
3.14
True
(3+7j)
pwskills
False

In [6]:
#Q5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.
num_a = 36
num_b = 12

In [11]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

mylist = list(range(25))

for i in mylist:
    if i % 3 == 0:
        print(i, ' is divisible by 3')
    else:
        print(i, ' is not divisible by 3')

0  is divisible by 3
1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3

In [15]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

# Mutable object's data can be changed at an index position while immutable object's data cannot be changed at
# an index position

mylist_1 = [1,2,3,5,True, 3.14]
print(mylist_1)

mylist_1[3] = 'pwskills' 
print(mylist_1)     # value 5 got replaced by str 'pwskills'

mystr_1 = 'python'
print(mystr_1)

# mystr_1[2] = 'e'  # this gives error

[1, 2, 3, 5, True, 3.14]
[1, 2, 3, 'pwskills', True, 3.14]
python